.products {
  margin-top: 56px;
}

.productsCards {
  margin-top: 50px;
  // display: grid;
  // grid-template-areas: 'p p p';
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* автоматический перенос на новую строку */
  // grid-auto-rows: 1fr; /* все строки имеют равную высоту */
  // grid-gap: 20px; /* расстояние между карточками */
  display: flex;
  // justify-content: space-between;
  // align-items: stretch;
  // flex-wrap: wrap;
  column-gap: calc(6rem + 4px);
  min-height: 600px;
  flex-wrap: wrap;
}

.productsButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 28px;
}

.productsButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 200px;
  max-width: 90%;
  padding: 0.9em 2em;
  margin: 0 auto;
  
  span {
    font-size: clamp(14px, 1.5vw, 20px); // Адаптивный размер
    font-weight: 800;
    line-height: 1.2;
    color: #ffffff;
    text-shadow: 0px 4.2659px 4.2659px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
  }
}

@media screen and (max-width: 1130px) {
  .productsCards {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .products {
    margin-top: 15px;
  }
  .productsButton {
    width: auto;
    min-width: 180px;
    max-width: 90%;
    padding: 0.8em 1.5em;
    span {
      font-size: clamp(12px, 3.5vw, 16px);
    }
  }
}