.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 490px;
  min-width: 490px;
  // padding: 20px 0;
}

.menuItem {
  a {
    text-decoration: none;
    font-family: "RS";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    margin-right: 37px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    display: inline-block;
    
    &:last-child {
      margin-right: 0;
    }
    
    &:hover,
    &:focus {
      outline: none;
      text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff, 0 0 0.9px #fff;
      color: rgba(176, 149, 255, 1);
    }
    
    &.active {
      color: rgba(176, 149, 255, 1);
      font-weight: 600;
      text-shadow: 0 0 8px rgba(176, 149, 255, 0.5);
      
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, rgba(176, 149, 255, 0.8), rgba(194, 122, 255, 0.8));
        border-radius: 2px;
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .menu {
    max-width: 540px;
    width: 540px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
