.payment {
  display: flex;
}

.about {
  overflow: hidden;
  display: flex;
  padding-top: 110px;
  align-items: center;
  flex-direction: column;
  width: 580px;
  min-width: 580px;
  height: 380px;
  position: relative;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: linear-gradient(
    135deg,
    rgba(176, 149, 255, 0.08) 0%,
    rgba(124, 83, 255, 0.05) 50%,
    rgba(22, 22, 22, 0.4) 100%
  );
  box-shadow: 
    0 8px 32px 0 rgba(124, 83, 255, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;

  &:hover {
    border-color: rgba(176, 149, 255, 0.3);
    box-shadow: 
      0 12px 40px 0 rgba(124, 83, 255, 0.25),
      inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(
      135deg,
      rgba(176, 149, 255, 0.3) 0%,
      rgba(124, 83, 255, 0.2) 50%,
      rgba(194, 122, 255, 0.25) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
  }

  &::after {
    display: none;
  }
}

.aboutLogo {
  z-index: 9;
}

.aboutLine {
  margin-top: 78px;
  margin-bottom: 24px;
  width: 526px;
  padding: 0 25px;
  height: 1px;
  background-color: #ffffff;
  z-index: 9;
}

.aboutOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RS";
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height, or 163% */

  text-align: center;

  color: #ffffff;
  z-index: 9;
}

.aboutOptionsItem {
  margin-right: 28px;
  font-family: RS;
  font-weight: 300;
  &:last-child {
    margin-right: 0;
  }
}

.steps {
  margin-left: 120px;
  position: relative;
}

.stepsTitle {
  font-family: "RS";
  font-style: normal;
  font-weight: 400;
  font-size: 45.08px;
  line-height: 46px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.stepsList {
  margin-top: 55px;
}

.stepsListItem {
  font-family: "RS";
  font-style: normal;
  font-weight: 300;
  font-size: 17.64px;
  line-height: 25px;
  margin-left: 50px;
  margin-bottom: 36px;
  /* or 144% */

  color: #ffffff;
  counter-increment: counter;

  &::before {
    position: absolute;
    left: 0;
    content: counter(counter) ".";
    font-family: "RS";
    font-style: normal;
    font-weight: 800;
    font-size: 35.28px;
    line-height: 35px;
    text-align: center;

    color: #ffffff;
    margin-top: -3px;
  }
}

@media screen and (max-width: 1230px) {
  .payment {
    flex-wrap: wrap-reverse;
  }

  .about {
    margin-left: 120px;
    margin-top: 15px;
  }
  .stepsTitle {
    display: block;
    text-align: center;
  }
}

.aboutBigEl,
.aboutSmallEl {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 15px;
}

.aboutBigEl {
  top: 2px;
  right: 2px;
  z-index: 1;
  overflow: hidden;
}

.aboutSmallEl {
  left: -100px;
  bottom: -50px;
  border-radius: 354.998px;
  background: linear-gradient(90deg, #1c1b1f 0%, rgba(28, 27, 31, 0) 100%);
  box-shadow: 0px -6.094814300537109px 24.379257202148438px -36.568885803222656px
    rgba(0, 0, 0, 0.25);
  // backdrop-filter: blur(152.370361328125px);
  opacity: 0.35;
}

@media screen and (max-width: 768px) {
  .steps {
    margin-left: 0;
    margin: 60px auto 0;
  }
  .stepsListItem {
    max-width: 450px;
    position: relative;
    text-align: center;
    margin-bottom: 56px;
    margin-left: 0px;
    font-size: 14px;
    font-family: RS;
    line-height: 17.245px;
    &::before {
      left: 50%;
      transform: translateX(-50%);
      top: -40px;
    }
  }
  .stepsTitle {
    display: block;
    font-size: 26px;
    font-family: RS;
    text-align: center;
  }
  .about {
    min-width: 290px;
    width: 290px;
    height: 203px;
    margin: 0 auto;
    padding: 58px 0 0;
    svg {
      width: 190px;
      height: 50px;
    }
  }
  .aboutLine {
    margin-top: 40px;
    margin-bottom: 13px;
    max-width: 280px;
  }
  .aboutOptionsItem {
    font-size: 9.644px;
  }
}

@media screen and (max-width: 500px) {
  .stepsListItem {
    max-width: 230px;
  }
}